p{
color: white;
text-transform:uppercase ;
}
.com{
    margin-left: 5px;
    width: 70%;
    border-radius: 10px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.a_u{
 color: black;
}
.moi{
    background-color: #0084FF;
}
.autre{
    background-color: #E4E6EB;
}
span{
    text-align: right;
    color:rgb(7, 90, 122);
}
.E_Commentaire{
    background-color: white;
}

.inconnu{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.tout{
    display: flex;
}
.E_btnRe{
    width: 132%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
}

@media screen and (max-width: 700px){
    .I_btn{
        display: none;
    }

    .inconnu{
        height: 10px;
        width: 10px;
        border-radius: 25px;
    }
}