.c_section1
{
	
	display: flex;                                                   
}
		/*style du premier grand article*/
.c_art1
{
	width:20%;
	height: 550px;
}
.c_head1
{
	height:80px; 
	background-color:#65b2f5;
	font-size:25px;
}
.c_div1
{
	height: 96%;
    overflow: scroll;
}

.c_div2
{
	height: 30px;
	border:1px solid #3a71e0;
	color: #3a71e0;
	margin: 5px;
	text-align: center;
}
a
{
	list-style: none;
		text-decoration: none;
		color: #3a71e0;
}

		/*style du second grand article*/
.c_art2
{
	width:60%;
	height: 550px;
	border:5px solid white;
}

.c_art21
{
	display: flex;
	width: 100%;
	height: 100px;
	background-color:#eee;

}

.c_inp1
{
	margin-top:17px;
	margin-right: 20px;
	margin-left:10px;
	width:50px;
	height: 20px;
	background-color:white;
	font-style:white;
	text-align: center;
}


.c_but1
{
	margin-top:20px;
	margin-bottom: 35px;
	margin-right: 10px;
	border-radius: 10px;
	background-color:#4141f1;
}
.form input:hover
{
	border: 2px solid  #4141f1;
}

.c_art22
{
	overflow:hidden;
	overflow-y: scroll;
	height:450px;
}
		/*style du troisieme gramd article*/
.c_art3
{
	width:20%;
	height: 550px;
}

.c_div3
{
	height: 100px;
}
form
{
	display: flex;
	width: 100%;
}
.E_Commentaire{
    height: 380px;
    width: 100%;
    overflow-y: scroll;
    background-color: #e1e1e4;
}

.c_inp2
{
	padding-right: 1px;
	margin-top: 25px;
	margin-right: 20px;
	width: 80%;
	border-radius: none;
	border:none;
}


.c_cm
{
	text-align: center;
	border-radius: 20px;
	margin-top:2px;
	margin-left: 5px;
}

.c_inp3
{
	margin-top: 20px;
	margin-left: 20px;
}
.telechager{
    border-radius: 4px;
    background-color:#31A3DD;
    text-decoration: none;
    color: white;
}
.c_section1 {
    width: 99.8%;
}