.E_assideG{
    width: 20%;
    height: 90%;
    background-color: #2a8fc2;
    position: fixed;
    border-bottom: 2px solid #2a8fc2;
    
}


@media screen and (max-width: 500px){
   nav{
       display: none;
   }
    
}



.E_section{
    width: 65%;
    height: auto;
    background-color: white;
    float: right;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
    padding-right: 5px;
}
nav{
    
    top: 0;
    background-color:#31A3DD;
    color: white;
    border-top: 4px solid #31A3DD;
    border-bottom: 4px solid #31A3DD;
}
.commentaire{
    width: 20%;
    height: 550px;
    right: 8px;
    position: fixed;
    background-color: #2a8fc2;
    
}
.E_recherche{
   width: 60%;
    height: 60px;
    position: fixed;
    background-color: #eef1f3;
    padding-top: 22px; 
}

.E_ecriture{
    width: 99%;
    height: 500%;
    overflow-y: scroll;
    margin-top: 85px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 10px;
    
}
.E_classe{
    width: 100%;
    height: 50px;
    color: white;
    
}
.E_Matiere{
    height: 75%;
    width: auto;
    overflow-y: scroll;
    background-color: white;
}
.E_RechercheTet{
    height: 45px;
    width: 100%;
    color: white;
}
.E_Commentaire{
    height: 68%;
    width: 100%;
    overflow-y: scroll;
    background-color: #e1e1e4;
}
.input{
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    

}
input[type='button']{
    width: 25%;
    height: 30px;
    border-radius: 10px;
}
.ecour{
    list-style: none;
    text-decoration: none;
    height: 45px;
    width: 99%;
    margin-top: 2px;
    background-color: white;
    color: rgb(6, 97, 158);
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    border: 1px solid rgb(6, 97, 158);
}
.ecour:hover{
    box-shadow: 4px 20px 10px -15px;
}
a{
    list-style: none;
    text-decoration: none;
}
.global{
    display: flex;
}
body{
    font-family: Tahoma;
}
.E_envoi{
    width: 100%;
    height: 115px;
    display: flex;
    background-color:#eaeaf0 ;
    
}
.E_comText{
    width: 130%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid;
}

.toggle{
    position: fixed;
    left:0;
    top: 0;
}
@media screen and (max-width: 700px){
    .I_btn{
        display: none;
    }


}
body{
    overflow-y: hidden;
}

.telechager{
    border-radius: 4px;
    background-color:#31A3DD;
    text-decoration: none;
    color: white;
}