input[type="text"],input[type="tel"],input[type="email"], input[type="password"]{
    border-radius: 10px;
    height: 30px;
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    outline : none;
    font-family: Arial, Helvetica, sans-serif;
    
}
input:hover{
     box-shadow: 2px 2px 2px 2px rgb(92, 90, 90);
     box-align:center;     
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body>div{
    box-shadow: 0px 0px 10px 10px rgb(218, 213, 213);
    margin: auto;
    padding: 5px 10px 20px 10px;
    width: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
}
div>div{
    width: 98%;
    text-align: center;
    margin: auto;
}  
input[type="button"]:hover{
    background-color: white;
    border-color:#179ad6;
    color: black;
    cursor: pointer;
    border:  2px solid #179ad6;
    transition: all 1s;

}
input[type="submit"]:hover{
    background-color: white;
    border-color:#179ad6;
    color: black;
    cursor: pointer;
    transition: all 1s;
    border:  2px solid #179ad6;
}
input[type="submit"],input[type="button"]{
    border: none;
    text-transform: uppercase;
} 

.veri{
    border: 2px solid green;
}   

@media screen and (max-width : 1095px)
{
    body>div
    {
        width: 50%;
    }
}

@media screen and (max-width : 600px)
{
    body>div
    {
        width: 80%;
    }
}