body{
    margin: 0px;
    padding: 0;
    top: 0;
}

header{
    width: 98%;
    height: 100px;
    background-color: #31A3DD;
    color: #fff;
    padding-left: 2%;
    
}
header>h1{
    text-shadow: 0 0 1px rgba(0,0,0,0.01);
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    padding-top: 10px;
}



nav{
    height: 72px;
    width: 96%;
    background-color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid #31A3DD;
    border-top: 1px solid #31A3DD;
}
nav .gauche{
    float: left;
    height: 68%;
    display: flex;
    width: 40%;

}
nav .droite{
    float: right;
   
    display: flex;
    width: 20%;
    border-radius: 10px;
    justify-content: space-between;
    padding-right: 2%;

}
a .d{
    height: 100%;
    text-transform: uppercase;
}
a .d:hover{
    background-color: #2a8fc2;
    color: white;
}
 .connexion:hover{
    box-shadow: -5px 2px 8px 0 rgb(121, 119, 119);
}
.inscription:hover{
    box-shadow: -5px 2px 8px 0 rgb(121, 119, 119);
}
.a {
    text-decoration: none;
    color: black;
    width: 25%;
}
.d{
    padding-top: 23px;
    /* padding: 25px; */
    padding-left: 25px;
}
.inscription{
    width: 50%;
    border-radius: 10px;
    background-color: #2a8fc2;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 12px;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.connexion{
    width: 40%;
    border-radius: 10px;
    background-color: #2a8fc2;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.lien{
    color: #31A3DD;
}
.dim{
    height: 70%;
    width: 32%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 30px;
    margin-left: 63%;
    padding-right: 1%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    margin-bottom: 200px;
    padding-left: 1%;
    padding-right: 1%;
}
input{
    text-align: center;
}
.img{
    padding-top: 100px;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    background-image: url('../image/eleve.jpg');
    background-size: cover;
}
.section1{
    width: 100%;
    height: 300px;
    display: flex;
    margin-bottom: 60px;
    height: auto;
}
article .art1,.art1,.art3{
    height: 100%;
    width: 32%;
    background-color: rgb(255, 255, 255);
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 10px;
    border-radius: 10px;
}
 .art1{
   
    padding-top: 30px;
   border:1px solid #179ad6;
    
}
input[type="text"], input[type="password"]{
    width: 98%;
    height: 37px;
    border-radius: 10px;
   
}
input[type="submit"],input[type="reset"]{
    width: 100%;
    height: 37px;
    border-radius: 10px;
    background-color: #179ad6;
    color: white;
}
.input:hover{
    border-color: rgb(0, 119, 255);
    
}
.button:hover{
    background-color: white;
    border-color:#179ad6;
    color: black;
    cursor: pointer;
    transition: all 1s;
}
footer{
    height: 100px;
    width: 100%;
    background-color: #31A3DD;
    border-radius: 5px;
}
.savoir{
    border-bottom: 4px solid #31A3DD;
    height: 40px;
    width: 40%;
    margin-left: 40%;
    margin-bottom: 20px;
    padding-left: 40px;
}
span{
    text-align: center;
    padding-left: 35%;
}

.toggle{
    position: fixed;
    left:0;
    top: 0;
}
@media screen and (max-width: 500px){
    
    .dim{
        height: 70%;
        width: 90%;
        margin-left: 4%;
        
    }
    .section1{
        display: block;
        padding-left: 3%;
    }
    article .art1, .art1, .art3{
        width: 90%;
        margin-bottom: 20px;
        
    }
    .savoir{
        margin-left: 30%;
    }

    .I_btn {
        display: none;
    }
    .menu-propos{
        display: none;
    }
 }