div{
    display: flex;
    height: 100%;
}
article{
    height: 100%;
    width: 25%;
    background-color: white;
   
    margin-right: 5px;
}
.formu{
    background-color: white;
    width: 100%;
}
section{
    margin-left: 5%;
    height: 100%;
    width: 75%;
    background-color: white;
}
.info{
    box-shadow: 0px 2px 2px 1px rgb(92, 90, 90);
   height:500px;
   background: url("../image/eleve.jpg");

}
.nom{

    display: inline-block;
    color: #1c1e21;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    width: 190px;
    
    width: 30%;
}
.valeur{
    word-wrap: break-word;
    text-transform: uppercase;
    display: inline-block;
    width: 40%;
    color: #65676b;
    font-size: 15px;
    letter-spacing: -0.24px;
    line-height: 20px;
    
    font-family: inherit;
}
a{
    color: #0074ab;
       display: inline-block;
    text-decoration-color: #0074ab;
    text-align: right;width: 20%;

}
li{
    list-style-type: none;
    margin-bottom: 20px;


}
fieldset{
    width:75%;
    display: none;
    
    height: 0;
    background-color: #F1F1F1;
}
input[type="text"]{
    width:70%;
    border-radius: 5px;
    height: 30px;
    
    font-weight: 600;
}
input[type="submit"]{
   margin-left: 15%;
   background-color: #0074ab;
   color: white;
   
   height: 30px;
   border-radius: 5px;
   font-weight: 300;
   border: none;
}
input[type="submit"]:hover{
    background-color:#72d4ff;
    color: black;
    transition: all 1s;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #31A3DD;
    border-radius: 5px;
}

header{
    width: 98%;
    height: 100px;
    background-color: #31A3DD;
    color: #fff;
    padding-left: 2%;
    
}
header>h1{
    text-shadow: 0 0 1px rgba(0,0,0,0.01);
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    padding-top: 10px;
}
p{
    color: rgb(20, 19, 19);
    font-weight: 900;
}
.deco{
    border-bottom:  1px solid  rgb(172, 168, 168) ;
    border-bottom:  1px solid  rgb(172, 168, 168)  ;
    height: 50px;
}

